html{
    width: 300px;
    min-height: 500px;
}

#addBtn{
    cursor: pointer;
}

#exeAdd{
    cursor: pointer;
}

.wrapper{
    background: linear-gradient(135deg, darkblue,blue,skyblue, skyblue);
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    min-height: 500px;
}

.heading{
    font-weight: bold;
    font-size: large;
    font-style: italic;
}

.main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
}

.main img{
    width: 42px;
    height: 42px;
}